<!DOCTYPE html>
<html>
<head>
	<title>prueba de jquery</title>
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="js/jquery1.js">
</head>
<body>
	<div>
	<input type="button" id="manga" value="manga">
	<input type="button" id="novela" value="novela">
	</div>

	<div id="respu" style="display: none;">
		
	</div>

</body>
</html>