<!DOCTYPE html>
<html>
<head>
	<title>prueba de jquery</title>
	<link rel="stylesheet" type="text/css" href="js/jquery1.js">
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script type="text/javascript" src="js/jquery1.js">
		
	</script>
	
</head>
<body>
	<div id="generos">
	<button id="misterio" value="misterios">misterios</button>
	<br>
	<button id="accion" value="accion1234">accion123</button>
	<button id="xd">ej1</button>
	<button id="cfg">ej2</button>
	<button id="dfgh">ej3</button>
	
	</div>
	<br><br>

	<div id="conte" style="display: none; border: 1px">
		<div id="respu"></div>
	</div>

</body>
</html>