<!DOCTYPE html>
<html>
<head>
	<title>prueba de jquery</title>
	<link rel="stylesheet" type="text/css" href="js/jquery1.js">
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script type="text/javascript" src="js/jquery1.js">
		
	</script>
	
</head>
<body>
	<div>
	<input type="button" id="misterio" value="misterio">
	<input type="button" id="accion" value="accion">
	</div>
	<br><br>

	<div id="conte" style="display: none;">
		<div id="respu"></div>
	</div>

</body>
</html>