<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tailwindcss.css">
  
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ca713a058f.js" crossorigin="anonymous"></script>
  
  </head>
  
  <footer class="p-10 mt-80 fondo-black shadow md:flex md:items-center justify-between ">
    <div class="texto-white flex flex-col justify-between">
      <span class=" text-xl cursor-pointer">
        <i class="fa-solid fa-book-open texto-red"></i>
        Book Lovers
      </span>
      <span class="text-sm ">All the books are owned by their respective authors and the comments shown are just examples</span>
      <span class="text-xl mt-3">
        Check our repository and social media!
      </span>
      <span class="text-3xl texto-red">
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-brands fa-square-github"></i>
      </span>

      <div class="fondo-gray mt-3 flex justify-center"> 
        <span class="text-2xl my-3 mx-4 inline-flex items-center">We are open for work! 
          Thunderbit Fiverr
          <img class="object-scale-down h-16 w-16" src="/images/fiverr.png">
        </span>
      </div>
      
    </div>
  </footer>
  
  
  