<!DOCTYPE html>
<html>
<head>
	<title>formularios</title>
</head>
<body>
	<div>
		<form action="/create_post" method="post" id="create_post"><!--formulario de agregar posts-->
			<table border="1">
				<tr><th colspan="2">agregar libros</th></tr>
				<tr>
					<th>titulo del libro</th>
					<th><input type="text" name="title" id="title"></th>
				</tr>
				<tr>
					<select name="id_genres" id="id_genres" form="create_post">
						<%for (var i = 0 ; i < result.genre.length; i++) { %>
							<option value="<%=result.genre[i].id_genres%>">
								<%=result.genre[i].name%>
							</option>
						<% } %>
						
					</select>
				</tr>
				<tr>
					<th colspan="2">resumen del libro</th>
				</tr>
				<tr>
					<th colspan="2"><textarea rows="4" cols="40" name="content_post" id="content_post"></textarea></th>
				</tr>
				<tr>
					<th><input type="submit" name="Enviar" value="subir"></th>
					<th><input type="reset" name="borrar" value="borrar"></td>
				</tr>
			</table>
		</form>
	</div>

	<div>
		<form action="/responder" method="post" name="ansew_post"><!--formulario de responder a un post-->
			<table border="1">
				<tr><th colspan="2">respuesta</th></tr>
				<tr>
					<th>selecione cual post</th>
					<th>
						<select name="name_post" id="name_post" form="/responder">
							<%for (var i = 0 ; i < result.post.length; i++) { %>
							<option value="<%=result.post[i].id_posts%>">
								<%=result.post[i].title%>
							</option>
						<% } %>
						</select>
					</th>
				</tr>
				<tr>
					<th>respuesta al post</th>
					<th><input type="text" name="respuesta" id="respuesta"></th>
				</tr>
				
					<th><input type="submit" name="Enviar" value="subir"></th>
					<th><input type="reset" name="borrar" value="borrar"></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>