<!DOCTYPE html>
<html>
<head>
	<title>formularios</title>
</head>
<body>
	<div>
		<form>
			<table border="1">
				<tr><th colspan="2">agregar libros</th></tr>
				<tr>
					<th>titulo del libro</th>
					<th><input type="text" name="gen_name" id="gen_name"></th>
				</tr>
				<tr>
					<th>enlace de la  imagen</th>
					<th><input type="text" name="img_gen" id="img_gen"></th>
				</tr>
				<tr>
					
				</tr>
				<tr>
					<th><input type="submit" name="Enviar" value="subir"></th>
					<th><input type="reset" name="borrar" value="borrar"></td>
				</tr>
			</table>
		</form>
	</div>

</body>
</html>