<!DOCTYPE html>
<html>
<head>
	<title>prueba de jquery</title>
	<link rel="stylesheet" type="text/css" href="js/jquery1.js">
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script type="text/javascript" src="js/jquery1.js">
		
	</script>
	
</head>
<body>

	<h1 id="titulo-gen" class=".texto-white">generos disponibles</h1>
	<section class="flex-container">
	<div id="generos1" class="caja">
	<button id="misterio" value="misterio">misterio</button>
	</div>
	<div id="generos1" class="caja">
	<button id="accion" value="accion">accion</button>
	</div>
	<div id="generos1" class="caja">
	<button id="comedia" value="comedia">comedia</button>
	</div>
	
	<br><br>
	<div id="generos2" class="caja">
	<button id="psicologico" value="psicologico">psicologico</button>
	</div>
	<div id="generos2" class="caja">
	<button id="terror" value="terror">terror</button>
	</div>
	<div id="generos2" class="caja">
	<button id="romance" value="romance">romance</button>
	</div>
	
	<br><br>
	<div id="generos3" class="caja">
	<button id="infantil" value="infantil">infantil</button>
	</div>
	<div id="generos3" class="caja">
	<button id="filosofico" value="filosofico">filosofico</button>
	</div>
	<div id="generos3" class="caja">
	<button id="aventura" value="aventura">aventura</button>
	</div>
	<br><br>
	<div id="generos4" class="caja">
	<button id="historicos" value="historicos">historicos</button>
	</div>
	<div id="generos4" class="caja">
	<button id="biograficos" value="biograficos">biograficos</button>
	</div>
	<div id="generos4" class="caja">
	<button id="ciencia_ficcion" value="ciencia_ficcion">ciencia_ficcion</button>
	</div>
	
	</section>


	<div id="conte" style="display: none;">
		<div id="imgconte">
			<div id="respu">
					
			</div>
		</div>
	</div>
	 <!--AGREGAR GENEROS-->
	<div class="agregar" id="agregar">
		<form  method="post" action="/subir">
			<table border="1">
				<tr><th colspan="2">agregar generos</th></tr>
				<tr>
					<th>nombre del genero</th>
					<th><input type="text" name="gen_name" id="gen_name"></th>
				</tr>
				<tr>
					<th>selecciones una imagen</th>
					<th><input type="text" name="img_gen" id="img_gen"></th>
				</tr>
				<tr>
					<th><input type="submit" name="Enviar" value="subir"></th>
					<th><input type="reset" name="borrar" value="borrar"></td>
				</tr>
			</table>
		</form>
	</div>
	<!-- borrar mas tarde , prueba de escypir valores de la base de datos aqui-->
	<section class="flex-container"> 
		<%for (var i = 0 ; i < result.length; i++) { %>
			<div class="caja">
				<button id="<%=result[i].id_genres%>"> <%=result[i].name%> </button>
			</div>
		<% } %>
	</section>
	
</body>
</html>