<!DOCTYPE html>
<html>
<head>
	<title>prueba de jquery</title>
	<link rel="stylesheet" type="text/css" href="js/jquery1.js">
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script type="text/javascript" src="js/jquery1.js">
		
	</script>
	
</head>
<body>
	<h1 id="titulo-gen" class=".texto-white">generos disponibles</h1>
	<div id="generos">
	<button id="misterio" value="misterio">misterio</button>
	<br>
	<button id="accion" value="accion">accion</button>
	<button id="xd">ej1</button>
	<button id="cfg">ej2</button>
	<button id="dfgh">ej3</button>
	
	</div>
	<br><br>

	<div id="conte" style="display: none;">
		<div id="imgconte"><div id="respu"></div></div>
	</div>
	 <!--AGREGAR GENEROS-->
	<div class="agregar" id="agregar">
		<form  method="post" action="/subir">
			<table border="1">
				<tr><th colspan="2">agregar generos</th></tr>
				<tr>
					<th>nombre del genero</th>
					<th><input type="text" name="gen_name" id="gen_name"></th>
				</tr>
				<tr>
					<th>selecciones una imagen</th>
					<th><input type="text" name="img_gen" id="img_gen"></th>
				</tr>
				<tr>
					<th><input type="submit" name="Enviar" value="subir"></th>
					<th><input type="reset" name="borrar" value="borrar"></td>
				</tr>
			</table>
		</form>
	</div>

</body>
</html>