<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tailwindcss.css">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ca713a058f.js" crossorigin="anonymous"></script>
    <script src="js/jquery.js"></script>
</head>
<body>
    <%- include('./nav.ejs') %>
    <div class="flex flex-col justify-center align-middle text-center w-full items-center p-3">
        <!--formulario de agregar posts-->
		<form action="/create_post" method="post" id="create_post" class="w-full my-4 fondo-black rounded texto-white">
            <div class="flex flex-col text-center items-start w-full p-4">

                <p class="texto-red text-2xl borde-red border-2 rounded w-full py-1">Add a New Review!</p>

                <div class="flex flex-col w-full text-start mt-3">
                    <p class="texto-red">What's the title of the book?</p>
					<input type="text" name="title" id="title" class="rounded px-2 fondo-white texto-black outline-none">
                </div>
                <div class="flex flex-col mt-3 w-full items-end">
                    <p class="texto-red">What's the Genre of the book? &nbsp;</p>
                    <select name="id_genres" id="id_genres" form="create_post" class="text-center texto-red rounded outline-none">
						<%for (var i = 0 ; i < result.genre.length; i++) { %>
							<option value="<%=result.genre[i].id_genres%>" class="">
								<%=result.genre[i].name%>
							</option>
						<% } %>
					</select>
                </div>
                <div class="flex flex-col w-full mt-3">
                    <p class="texto-black text-start rounded-t fondo-white w-fit p-1 px-2">Content</p>
                    <textarea name="content_post" id="content_post" maxlength="2000" class="resize-none rounded-r rounded-b w-full p-2 texto-black fondo-white h-64 outline-none"></textarea>
                    <p id="wordCounter" class="texto-red text-end p-1">0/2000</p>
                </div>
                <div class="flex flex-col text-start w-full">
                    <p class="texto-red">Add a book cover image(URL):</p>
                    <input type="text" name="image" id="image" class="rounded px-2 fondo-white texto-black outline-none">
                </div>
                <div class="border-2 rounded-md mt-2 fondo-red texto-white">
                    <input type="submit" name="Enviar" value="Submit" tabindex="-1" class="cursor-pointer rounded fondo-red px-2 w-fit hover-white hover-red transition duration-700">
                </div>
            </div>
		</form>
	</div>
    <%- include('./footer.html') %>

    <script src="js/addPost.js"></script>
</body>
</html>