<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tailwindcss.css">
  
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ca713a058f.js" crossorigin="anonymous"></script>
  
  </head>
  
  <footer class="w-full h-full p-10 mt-6 fondo-black shadow justify-between md:flex md:items-center ">
    <div class="w-1/2 h-2/3 texto-white flex flex-col justify-between">
      <span class=" text-xl cursor-pointer">
        <i class="fa-solid fa-book-open texto-red"></i>
        Book Lovers
      </span>
      <span class="text-sm ">All the books are owned by their respective authors and the comments shown are just examples</span>
      <span class="text-xl mt-3">
        Check our repository and social media!
      </span>
      <span class="text-4xl texto-red">
        <a href="https://github.com/laponte16"><i class="fa-brands fa-square-github" ></i></a>
        <a href="https://twitter.com/ThunderbitCode"><i class="fa-brands fa-square-twitter" ></i></a>
        <a href="https://www.linkedin.com/company/thunderbitcode/?viewAsMember=true"><i class="fa-brands fa-linkedin"></i></a>
      </span>
    </div>

    <div class="w-1/2 h-2/3 fondo-gray texto-white rounded-md mx-6 md: mt-10"> 
      <span class="text-2xl my-3 mx-4 inline-flex items-center">We are open for work! 
        Thunderbit Fiverr
      </span>
      <span>
          <a href="https://es.fiverr.com/thunderbitcode?up_rollout=true"><img class="object-scale-down h-16 w-16" src="/images/fiverr.png"></a>
      </span>
    </div>
  </footer>
  
  
  