<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/tailwindcss.css">

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/ca713a058f.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
  <%- include('./nav.ejs') %>
  <div class="conatiner-body relative z-10">
    <span class=" texto-white"> Testing include! this is our home file!</span>
    <br>
    <a href="/about">Hello World</a>
    <br>
    <a href="/home">Home</a>
    <br>
    <a href="/genres">Generos</a>
    <br>
    <form method="post" action="/prueba" >
        <input type="submit" value="Prueba" class="text-xl bg-teal-300 w-24 h-9 rounded-md cursor-pointer">
    </form>
  </div>
  <%- include('./footer.html') %>
</body>
</html>

