<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/tailwindcss.css">

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/ca713a058f.js" crossorigin="anonymous"></script>
  <script src="js/jquery.js"></script>
    <title>Home</title>
</head>
<body>
  <%- include('./nav.ejs') %>
  <div class="container-body relative z-10 flex flex-col items-center">

    <div class="w-full">
      <img src="/images/book-home.png">
    </div>

    <div class="fondo-black flex flex-col w-full justify-center items-center my-2">
      <p class="texto-white">Introduccion al sitio titulo</p>
      <p class="texto-white">Introduccion al sitio content</p> 
    </div>
    <div class="texto-red text-3xl">
      <b>Hottie Hots</b>
    </div>
    <div class="flex flex-row fondo-black rounded my-4 p-4 w-4/5 h-64 texto-red justify-between items-center">
      <div class="flex flex-col text-center text-4xl w-1/12">
        <i class="fa-solid fa-chevron-left arrowLeftHot cursor-pointer w-fit"></i>
      </div>
      <div class="flex flex-row flex-nowrap overflow-hidden">
        <% for (var i = 0 ; i < 10; i++) { %>
          <div class="panelHot relative">
            <img class="rounded w-32 h-full mr-4" src="<%=result.post[i].url_image%>" alt="">
          </div>
        <% } %>
      </div>
      <div class="flex flex-col text-center text-4xl w-1/12">
        <i class="fa-solid fa-chevron-right arrowRightHot cursor-pointer w-fit"></i>
      </div>
    </div>
    <div class="texto-red text-3xl">
      <b>The Newcomers</b>
    </div>
    <div class="flex flex-row fondo-black rounded my-4 p-4 w-4/5 h-64 texto-red justify-between items-center">
      <div class="flex flex-col text-center text-4xl w-1/12">
        <i class="fa-solid fa-chevron-left arrowLeftHot cursor-pointer w-fit"></i>
      </div>
      <div class="flex flex-row flex-nowrap overflow-hidden">
        <% for (var i = 0 ; i < 10; i++) { %>
          <div class="panelHot relative">
            <img class="rounded w-32 h-full mr-4" src="<%=result.post[i].url_image%>" alt="">
          </div>
        <% } %>
      </div>
      <div class="flex flex-col text-center text-4xl w-1/12">
        <i class="fa-solid fa-chevron-right arrowRightHot cursor-pointer w-fit"></i>
      </div>
    </div>
  </div>
  <%- include('./footer.html') %>

  <script src="js/home.js"></script>
</body>
</html>

