<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/tailwindcss.css">

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/ca713a058f.js" crossorigin="anonymous"></script>

</head>

<nav class="shadow relative flex md:items-center justify-between fondo-black">
  <div class="p-10 fondo-black shadow relative z-30 flex-1">
    <div class="texto-white flex justify-between items-center ">
      <span class="text-2xl cursor-pointer z-30" onclick="window.location.href='/home';">
        <i class="fa-solid fa-book-open"></i>
        Book Lovers
      </span>
      <span class="text-3xl cursor-pointer mx-2 z-30 md:hidden block">
        <i class="fa-solid fa-bars" onclick="Menu()"></i>
      </span>
    </div>
  </div>

  <ul class="texto-white z-20 md:pr-10 md:flex md:items-center
  md:relative absolute fondo-black w-full left-0 md:w-auto
  md:py-0 py-4 md:pl-0 pl-7 top-[-400px] md:top-[0]
  transition-all ease-in duration-500"> 
    <li class="mx-4 my-6 md:my-0 md:mx-0">
      <a href="/home" class="text-xl hover-red duration-1000">Home</a>
    </li>
    <li class="mx-4 my-6 md:my-0 md:mx-0">
      <a href="/forum" class="text-xl hover-red duration-1000">Forum</a>
    </li>
    <li class="mx-4 my-6 md:my-0 md:mx-0">
      <a href="/about" class="text-xl hover-red duration-1000">About</a>
    </li>
    <li class="inline-block mx-4 md:my-0 md:mx-0">
      <%if (result.session.username == "") { %>
        <a href="/login" class="text-xl hover-red duration-1000 pr-0">Sign in</a>
        <a class="text-xl p-0">/</a>
        <a href="/login" class="text-xl hover-red duration-1000 pl-0">Sign Up</a>
        <% }else{ %>
            <a class="text-xl pr-0.5">Welcome, </a><a href="/user" class="hover-red duration-1000 text-xl pl-0"><%= result.session.username%></a>
          <li class="inline-block md:my-0 md:mx-0 hover-red duration-1000"><a href="/signOut" class="text-xl"><i class="fa-solid fa-right-from-bracket"></i></a></li> 
            <%}%>
    </li>
    
  </ul>
</nav>

<script>
  var e = "menu";

  function Menu(){
    let list = document.querySelector('ul');
    e == 'menu' ?
     (e = 'close',
     list.classList.add('top-[80px]'),
     list.classList.add('opacity-100')) : 
     (e = 'menu',list.classList.remove('top-[80px]'),
     list.classList.remove('opacity-100'))
  }
</script>
