<!DOCTYPE html>
<html>
<head>
	<title>show</title>
	<link rel="stylesheet" type="text/css" href="js/jquery1.js">
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://cdn.tailwindcss.com"></script>
	<script type="text/javascript" src="js/jquery1.js">
		
	</script>
	
</head>
<body>

	<h1 id="titulo-gen" class=".texto-white">libros del genero <%=result.genre.name%></h1>
	<section class="flex-container"> 
		<%for (var i = 0 ; i < result.post.length; i++) { %>
			<div class="caja">
				<a href="/post/<%=result.post[i].id_posts%>/"><%=result.post[i].title%></a>
				
				
			</div>
		<% } %>
	</section>
	



	
	

</body>
</html>