body{
	background-color: #323234;
}

/*COLORES*/
/*fondos*/
.fondo-gray{
	background-color: #323234; 
}
.fondo-black{
	background-color: #1e1e1f !important;
}
.fondo-white{
	background-color: #f2f3e2 !important;
}
.fondo-red{
	background-color: #d52e4a;
}
/*textos*/
.texto-gray{
	color: #323234;
}
.texto-black{
	color: #1e1e1f;
}
.texto-white{
	color:#F2F3E2;
}

.texto-red{
	color:#d52e4a;
}
/*bordes*/
.borde-gray{
	border-color: #323234;
}
.borde-black{
	border-color: #1e1e1f;
}
.borde-white{
	border-color:#F2F3E2;
}
.borde-red{
	border-color:#d52e4a;
}
/*hover*/
.hover-red:hover{
	color:#d52e4a;
}

.hover-white:hover{
	background-color: #F2F3E2;
}

/*ESTILOS DEL NAV*/

/*ESTILOS DEL LOGIN*/


.tabcontent {
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
  }
  
  @-webkit-keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
  }
  
  @keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
  }
/*ESTILOS DE ADD POST*/
.buttonPost{
	pointer-events: none;
	opacity: 0.50;
}  
/*ESTILOS DE GENEROS*/
.flex-container{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
/* probicional estilo de botones*/
a{
	width: 230px;
	background-color: transparent;
	padding: 10px;
	
}

button:hover{
    background-color: #F2F3E2;
    color: #D52E4A;
}

div#generos{
	display: flex;
	padding: 30px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
    text-align: center;
}

div#respu{
	text-align: center;
}

div#agregar{
	align-items: center;
	text-align: center;
}
