<!DOCTYPE html>
<html>
<head>
	<title>prueba de jquery</title>
	<link rel="stylesheet" type="text/css" href="js/jquery1.js">
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://cdn.tailwindcss.com"></script>
	<script type="text/javascript" src="js/jquery1.js">
		
	</script>
	
</head>
<body>
	<div>
	<h3>publicado por: <%=result.user.username%></h3>
	<section>
		<div>
			<h2><%=result.post.title%></h2>
			<br>
			<%=result.post.content_post%>
			<br>
		</div>
	</section>
	<form action="/responder" method="post" name="ansew_post">
		<tr>
			<th colspan="2">desea dejar una respuesta ?</th>
			
		</tr>
		<tr>
			<th colspan="2"><input type="text" name="respuesta" id="respuesta"></th>
		</tr>
		<tr>
			<th><input type="submit" name="Enviar" value="responder"></th>
			<th><input type="reset" name="borrar" value="borrar"></td>
		</tr>
		
	</form>
	</div>
	<div>
		<%for (var i = 0 ; i < result.answer.length; i++) { %>
			<p><%=result.answer[i].content_answers%></p>
			<br>
		<% } %>
	</div>
</body>
</html>