<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/tailwindcss.css">

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/ca713a058f.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
  <%- include('../nav/nav.ejs') %>
  <div class="container-body relative z-10">
    <span class=" texto-white"> Users page</span>

    <!--Pruebas de Session-->
    <h1>Usuario: <%= result.session.username == "" ? "nadie" : result.session.username %></h1>
    <h1>ID Usuario: <%= result.session.id_users == "" ? "ID nadie" : result.session.id_users %></h1>
    <br>
    <a href="/signOut">Logout</a>

  </div>
  <%- include('../footer/footer.html') %>
</body>
</html>